<div class="container">
    <div class="inside">
        <div><img class="logouav" src="assets/images/Screenshot_8.jpg" alt="logo uav"></div>
     </div> <p>Stay updated on your UAV'S</p> <div>
     <div class="inputing">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [(ngModel)]="password" (keydown.enter)="TrySignIn()">
        </mat-form-field>
    </div>
      <div>  
        <button mat-stroked-button  (click)="TrySignIn()">Login</button>
      </div>
     <div>
        <button mat-stroked-button >
            <img src="assets/images/google.png" alt="Google Logo" style="height: 20px; width: 20px; margin-right: 8px;">
            Sign in with Google
          </button>     
    </div>
        <div><p>New to site? <a href="/signup">Join now</a></p></div>
    </div>
        
</div>

