  <div class="main">
    <button mat-raised-button class="sidebar-toggle" (click)="toggleSidebar()">
      {{ sidebarOpen ? 'Close Sidebar' : 'Open Sidebar' }}
    </button>
    <div class="sidebar" [class.open]="sidebarOpen">
      <h4>Select Parameter</h4>
      
      <mat-form-field>
        <mat-label>UAVs</mat-label>
        <mat-select (selectionChange)="onSelectUAV($event)">
          <mat-option *ngFor="let uav of uavsList" [value]="uav">
            {{ uav }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Communication</mat-label>
        <mat-select (selectionChange)="onSelectCommunication($event)">
          <mat-option value="FBDown">FBDown</mat-option>
          <mat-option value="FBUp">FBUp</mat-option>
          <mat-option value="MissionDown">MissionDown</mat-option>
          <mat-option value="MissionUp">MissionUp</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="parameters-selection">
        <h4>Parameters for {{ selectedCommunication }}</h4>
        <div *ngFor="let parameter of getCurrentParameters()" class="parameter-item">
          <mat-checkbox
            [checked]="isParameterSelected(parameter)"
            (change)="toggleParameterSelection(parameter)"
          >
            {{ parameter }}
          </mat-checkbox>
        </div>
      </div>
      
      
      <div>
        <h4>Selected Parameters:</h4>
        <ul>
          <li *ngFor="let param of (selectedParametersMap.get(selectedUAV)?.get(selectedCommunication) || [])">
            {{ param }}
          </li>
        </ul>
      </div>
      
      <div>
        <button mat-raised-button (click)="joinGroup()">Join Group</button>
      </div>
      <button mat-raised-button (click)="leaveGroup()">Leave Group</button>

      <div>
        <button mat-raised-button (click)="MoveParameters()">Enable drag and move</button>
      </div>
    </div>

    <gridster [options]="options">
      <gridster-item *ngFor="let item of dashboard" [item]="item">
        <div class="widget-content">
          <ng-container *ngIf="item.datasets && item.datasets.length > 0; else emptyChart">
            <div class="chart-parameter">
              <strong>Parameter:</strong> {{ item.parameter }}
            </div>
            <p-chart
              type="line"
              [data]="chartData"
            ></p-chart>
          
          </ng-container>
          <ng-template #emptyChart>
            <p>No data available. Waiting for updates...</p>
          </ng-template>
          
          <div class="chart-controls">
            <button (click)="changeChartType(item, 'line')">Line</button>
            <button (click)="changeChartType(item, 'bar')">Bar</button>
            <button (click)="changeChartType(item, 'scatter')">Scatter</button>
          </div>
        </div>
      </gridster-item>
    </gridster>
  </div>
  