<!-- parameter-tables.component.html -->
<div class="tables-container">
  <div class="parameter-container" *ngFor="let param of parameters">
    <h2 class="parameter-header">{{ param }}</h2>
    
    <div class="table-container">
      <table class="parameter-table">
        <thead>
          <tr>
            <th *ngFor="let uav of getUAVs(param)" class="uav-header">
              UAV {{ uav }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let index of getIndexArray(getMaxEntries(param))">
            <td *ngFor="let uav of getUAVs(param)" class="data-cell">
              <ng-container *ngIf="paramTables[param][uav][index]; else noData">
                <div class="timestamp">
                  {{ paramTables[param][uav][index].dateTime | date:'yyyy-MM-dd HH:mm:ss.SSS' }}
                </div>
                <div class="value">
                  {{ param }}: {{ paramTables[param][uav][index].value }}
                </div>
              </ng-container>
              <ng-template #noData>
                <div class="missing-data">N/A</div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
