/* uav-table.component.css */
.table-container {
  margin: 0rem 1rem 1rem 1rem;
  overflow: auto;
  max-height: 600px;
  border-left: 3px solid #4a435c;
  border-right: 3px solid #4a435c;
  border-bottom: 3px solid #4a435c;

}
.parameter-name{
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
}
.uav-table {
  width: 100%;
}
::ng-deep .mat-mdc-cell {
  border-bottom-color:white !important;
}
::ng-deep .mat-mdc-header-cell {
  border-bottom-color: white !important; 
  border-bottom-width: 2px !important;
}
.mat-header-cell {
  font-weight: bold;
  font-size: 14px;
  background-color: #f5f5f5;
  text-align: center;
}

.mat-cell {
  padding: 8px;
  text-align: center;
}
::ng-deep .mat-mdc-table{
  background: #261e35 !important;
}
.up-value {
  color: green;
  font-weight: bold;
}

.down-value {
  color: red;
  font-weight: bold;
}

h2 {
  margin: 15px;
  font-weight: 500;
}
::ng-deep .mat-mdc-cell{
  color : white
}
::ng-deep .mat-mdc-header-cell{
  color : white
}

