<div class="div"> 

  <div class="device-manager">
    <div>
      <h2>Simulator Manager</h2>
      <ul class="device-list">
        <li *ngFor="let key of Object.keys(uavsCommunications)">
          {{ key }} 
          <button (click)="SwitchCommunication(key)">
            Primary Communication: {{ getCommunicationType(uavsCommunications[key]!) }}
          </button>
          
        </li>
      </ul>
      <button class="connect-button" (click)="StartOne()">Connect a new device</button>
      </div>
    </div>

    <div class="device-manager">
      <div>
        <h2>Telemetry Manager</h2>
        <ul class="device-list">
          <li *ngFor="let uav of uavsTelemetry">
            <strong>IsPcap</strong> {{ uav.pcap }} |
            <strong>UAV Number:</strong> {{ uav.uavNumber }} |
            <strong>Channel:</strong> {{ uav.channel }} 
            <button *ngIf="uav.status =='run'" (click)="pauseTelemetry(uav.address,uav.port)">Pause</button>
            <button *ngIf="uav.status == 'paused'" (click)= "continueTelemetry(uav.address,uav.port)">Continue</button>
            <button (click)="deleteTelemetry(uav.address,uav.port)">Remove</button>
          </li>        
        </ul>

        <button class="connect-button" (click)="StartOne()">Connect a new device</button>
        </div>
      </div>
 
</div>

<div class="div"> 
  <div class="device-manager">
  <h1>Pcap Manager</h1>
  <ul class="device-list">
    <li *ngFor="let pcap of pcaps">{{ pcap }} <button>Pause</button> <button>Continue</button><button class="delete-button">Delete</button>
    </li>
  </ul>

  <button class="connect-button" (click)="openFileSelector()">Select File </button>
  </div>
</div>
