<div class="table-container">
  <div class="table">
    <div>
      <h2>Telemetry Uavs</h2>
      <ul class="device-list">
        <li *ngFor="let uav of uavsTelemetry | keyvalue">
          <div class="uav-simulator-settings">
            <div class="uav-selection">
              <span (click)="toggleUAVExpansion(uav.key)" >Tail Number: {{ uav.key }}</span>
            </div>

            <div> 
              <span>Simulate Time :</span>
              <input  class="input-simulate" #simulateTimeInput type="number" [(ngModel)]="uavsTimeSimulate[uav.key]" readonly/>
              <button (click)="toggleEditable(simulateTimeInput, uav.key)" class="edit-button" [title]="simulateTimeInput.readOnly ?     'Edit' : 'Save'" >
                <span *ngIf="simulateTimeInput.readOnly">✏️</span>
                <span *ngIf="!simulateTimeInput.readOnly">✅</span>
              </button>
            </div>
            <div >
              <span>Primary Comm:</span>
              <button (click)="SwitchCommunication(uav.key.toString())">{{getCommunicationType(uavsCommunications[uav.key])}}</button>
            </div>
          </div>

          <div *ngIf="expandedUAV === uav.key">
            <table class="open-table">
              <thead>
                <tr>
                  <th>IP Address</th>
                  <th>Port</th>
                  <th>Communication</th>
                  <th>IsPcap</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let channel of uav.value">
                  <td>{{ channel.address }}</td>
                  <td>{{ channel.port }}</td>
                  <td>{{ channel.channel }}</td>
                  <td>{{ channel.pcap }}</td>
                  <td>
                    <button *ngIf="channel.status == 'run'" (click)="pauseTelemetry(channel.address, channel.port)">Pause</button>
                    <button *ngIf="channel.status == 'paused'"(click)="continueTelemetry(channel.address, channel.port)" >Continue </button>
                    <button (click)="deleteTelemetry( channel.address, channel.port, channel.pcap)"> Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
      <button class="connect-button" (click)="openCombinedModal()">
        Connect device
      </button>
    </div>
  </div>
</div>