<div>
  <div >
    <div class="Simulator">
      <h3>Simulator</h3>
      <button mat-raised-button (click)="StartSimulator()" >Start Simulator</button>
      <button mat-raised-button (click)="StartPcap()" >Start Pcap</button>
      <button mat-raised-button (click)="Stop()">Stop</button>
    </div>
  </div>

  <div>
    <div class="Telemetry">
      <h3>Telemetry Device</h3>
      <button mat-raised-button (click)="StartAll()" >Start All Channels</button>
      <button mat-raised-button (click)="StartOne()" >Start Specific Channel</button>
      <button mat-raised-button (click)="StopChannel()">Stop</button>
    </div>
  </div>
  
</div>
