<div class="sidebar">
  <div class="image-container">
    <img class="image" src="assets/images/new-logo.png" alt="Beitar" />
  </div>
  <ul class="menu">
    <li><a routerLink="/live" routerLinkActive="active">Live</a></li>
    <li>
      <a routerLink="/monitor" routerLinkActive="active">Monitor Status</a>
    </li>
    <li><a routerLink="/config" routerLinkActive="active">Settings</a></li>
    <li><a routerLink="/archive" routerLinkActive="active">Archive</a></li>
    <li><a routerLink="/stat" routerLinkActive="active">Statistics</a></li>
  </ul>
</div>
