.graph-val-container {
  display: flex;
  justify-content: space-between;
}

::ng-deep .ngx-charts text {
  fill: white;
}

::ng-deep .ngx-charts .line-highlight {
  display: block !important;
}

.chart-container {
  background: #4a435c;
  text-align: center;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.uav-name, .settings-button{
  color: white;
  position: absolute;
  right: 0;
  top: 0;
}
ngx-charts-line-chart {
  width: 100%;
  height: 100%;
}
.chart-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.uav-name{
  color: white;
}