.graph-val-container {
  display: flex;
  justify-content: space-between;
}

::ng-deep .ngx-charts text {
  fill: white;
}

::ng-deep .ngx-charts .line-highlight {
  display: block !important;
}

.chart-container {
  background: #4a435c;
  text-align: center;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.uav-name, .settings-button{
  color: white;
  position: absolute;
  right: 0;
  top: 0;
}
ngx-charts-line-chart {
  width: 100%;
  height: 100%;
}
.chart-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.uav-name{
  color: white;
}
.archive-button{
  color: white;
  position: absolute;
  right: 30;
  top: 0;
}

#mainMenuButton {
z-index: 10;
position: absolute;
top: 0;
right: 1rem;
}

.menu-icon {
  height: 19px;
  width: 19px;
  margin: 0px 2px;

  :hover {
    cursor: pointer;
  }
}

.menu-item {
  display: flex;
  height: 100%;
  color: white !important;
}

.icon-button {
  color: white !important;
}

#menu-icon-button {
  top: 5px;
  position: absolute;
}

::ng-deep .mat-mdc-menu-submenu-icon {
  color: white !important;
}

::ng-deep .matMenuContent {
  color: white !important;
  background: rgb(47 41 62) !important;
}

.settings-container {
  position: absolute;
  top: 0;
  right: 1rem;
  color: white;
}