<button [matMenuTriggerFor]="mainMenu" mat-icon-button class="menu-icon" id="mainMenuButton">
  <mat-icon class="icon-button" id="menu-icon-button">menu</mat-icon>
</button>
<div class="chart-container">
    <div class="settings-container">

      <mat-menu #mainMenu="matMenu" class="matMenuContent">
        <button mat-menu-item [matMenuTriggerFor]="chartMenu" class="menu-item">
            <mat-icon class="icon-button">bar_chart</mat-icon>
            Change Chart
        </button>

        <button mat-menu-item *ngIf= "mode == 'live'" (click)="timeShiftMode()" class="menu-item">
            <mat-icon class="icon-button">fast_rewind</mat-icon>
            Enter Time Shift
        </button>
  
        <button mat-menu-item *ngIf= "mode == 'shift'" (click)="backToLive()" class="menu-item">
            <mat-icon class="icon-button">fast_forward</mat-icon>
            Exit Time Shift
        </button>
        <mat-menu #chartMenu="matMenu" class="matMenuContent">
          <button mat-menu-item *ngFor="let option of graphOptions" (click)="changeChartType(option.label)" class="menu-item">
            <img [src]="option.image" class="chart-icon" alt="{{option.label}}">
            <span>{{ option.label }}</span>
          </button>
        </mat-menu>
      </mat-menu>
      
      <!-- <button *ngIf= "mode == 'live'" (click)="timeShiftMode()" mat-icon-button class="archive-button">
        <mat-icon class="icon-button">archive</mat-icon>
      </button>

      <button *ngIf= "mode == 'shift'" (click)="backToLive()" mat-icon-button class="archive-button">
        <mat-icon class="icon-button">live_tv</mat-icon>
      </button>


      <button  mat-icon-button [matMenuTriggerFor]="chartMenu" class="settings-button">
        <mat-icon class="icon-button">bar_chart</mat-icon>
      </button>
      
      <mat-menu #chartMenu="matMenu">
        <button mat-menu-item *ngFor="let option of graphOptions" (click)="changeChartType(option.label)">
          <img [src]="option.image" class="chart-icon" alt="{{option.label}}">
          <span>{{ option.label }}</span>
        </button>
      </mat-menu>
    </div> -->
    <!-- <span class="uav-name">Uav Number {{chartEntity.parameter.uavNumber}}</span> -->
  </div>
    <ngx-charts-line-chart
      #graph
      id="{{ chartEntity.id }}"
      [results]="graphValues"
      [scheme]="graphConfig().colorScheme"
      [gradient]="graphConfig().gradient"
      [xAxis]="graphConfig().showXAxis"
      [yAxis]="graphConfig().showYAxis"
      [legend]="graphConfig().showLegend"
      [showXAxisLabel]="graphConfig().showXAxisLabel"
      [showYAxisLabel]="graphConfig().showYAxisLabel"
      [autoScale]="false"
      [animations]="true"
      [view]="view"
    >
      <ng-container *ngFor="let series of graphValues"></ng-container>
    </ngx-charts-line-chart>
</div>


<!-- <div class="chart-container">
  <ngx-charts-line-chart
    #graph
    id="{{chartEntity.id}}"
    [results]="graphValues"
    [scheme]="graphConfig().colorScheme"
    [gradient]="graphConfig().gradient"
    [xAxis]="graphConfig().showXAxis"
    [yAxis]="graphConfig().showYAxis"
    [legend]="graphConfig().showLegend"
    [showXAxisLabel]="graphConfig().showXAxisLabel"
    [showYAxisLabel]="graphConfig().showYAxisLabel"
    [autoScale]="false"
    [animations]="true"
    [view]="view"
  >
    <ng-container *ngFor="let series of graphValues"></ng-container>
  </ngx-charts-line-chart>
</div> -->




<!-- <ng-template #tooltopTemplate let-model="model">
  Name:{{ model.series }}
  <br />
  Value:{{ model.value }}
</ng-template> -->

<!-- id="{{ chartEntity.id }}"
  class="gauge-size"
  [min]="chartEntity.parameter.InterfaceLimitMin"
  [max]="chartEntity.parameter.InterfaceLimitMax"
  [unit]="chartEntity.parameter.units"
  [duration]="graphConfig().duration"
  [type]="graphConfig().type"
  [foregroundColor]="graphConfig().foregroundColor"
  [backgroundColor]="graphConfig().backgroundColor"
  [value]="graphValue"
  [size]="size" -->
