<div class="chart-container">
  <ngx-charts-line-chart
    #graph
    id="{{ chartEntity.id }}"
    [results]="graphValues"
    [scheme]="graphConfig().colorScheme"
    [gradient]="graphConfig().gradient"
    [xAxis]="graphConfig().showXAxis"
    [yAxis]="graphConfig().showYAxis"
    [legend]="graphConfig().showLegend"
    [showXAxisLabel]="graphConfig().showXAxisLabel"
    [showYAxisLabel]="graphConfig().showYAxisLabel"
    [autoScale]="false"
    [animations]="true"
    [view]="view"
  >
    <ng-container *ngFor="let series of graphValues"></ng-container>
  </ngx-charts-line-chart>
</div>




<!-- <div class="chart-container">
  <ngx-charts-line-chart
    #graph
    id="{{chartEntity.id}}"
    [results]="graphValues"
    [scheme]="graphConfig().colorScheme"
    [gradient]="graphConfig().gradient"
    [xAxis]="graphConfig().showXAxis"
    [yAxis]="graphConfig().showYAxis"
    [legend]="graphConfig().showLegend"
    [showXAxisLabel]="graphConfig().showXAxisLabel"
    [showYAxisLabel]="graphConfig().showYAxisLabel"
    [autoScale]="false"
    [animations]="true"
    [view]="view"
  >
    <ng-container *ngFor="let series of graphValues"></ng-container>
  </ngx-charts-line-chart>
</div> -->




<!-- <ng-template #tooltopTemplate let-model="model">
  Name:{{ model.series }}
  <br />
  Value:{{ model.value }}
</ng-template> -->

<!-- id="{{ chartEntity.id }}"
  class="gauge-size"
  [min]="chartEntity.parameter.InterfaceLimitMin"
  [max]="chartEntity.parameter.InterfaceLimitMax"
  [unit]="chartEntity.parameter.units"
  [duration]="graphConfig().duration"
  [type]="graphConfig().type"
  [foregroundColor]="graphConfig().foregroundColor"
  [backgroundColor]="graphConfig().backgroundColor"
  [value]="graphValue"
  [size]="size" -->
