<!-- <div class="main">
  <button mat-raised-button class="sidebar-toggle" (click)="toggleSidebar()">
    {{ sidebarOpen ? 'Close Sidebar' : 'Open Sidebar' }}
  </button>
  <div class="sidebar" [class.open]="sidebarOpen">
    <h4>Select Parameter</h4>
    
    <mat-form-field>
      <mat-label>UAVs</mat-label>
      <mat-select (selectionChange)="onSelectUAV($event)">
        <mat-option *ngFor="let uav of uavsList" [value]="uav">
          {{ uav }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Communication</mat-label>
      <mat-select (selectionChange)="onSelectCommunication($event)">
        <mat-option value="FBDown">FBDown</mat-option>
        <mat-option value="FBUp">FBUp</mat-option>
        <mat-option value="MissionDown">MissionDown</mat-option>
        <mat-option value="MissionUp">MissionUp</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="parameters-selection">
      <h4>Parameters for {{ selectedCommunication }}</h4>
      <div *ngFor="let parameter of getCurrentParameters()" class="parameter-item">
        <mat-checkbox
          [checked]="isParameterSelected(parameter)"
          (change)="toggleParameterSelection(parameter)"
        >
          {{ parameter }}
        </mat-checkbox>
        
      </div>
      <div>
        <button mat-raised-button (click)="MoveParameters()">Enable drag and move</button>
      </div>
    </div>
  
  </div>

  <gridster [options]="options">
    <gridster-item *ngFor="let item of dashboard" [item]="item">
      <div class="widget-content">
        <p-dropdown 
          [options]="graphOptions" 
          [(ngModel)]="item.chartType"
          optionLabel="label"
          placeholder="Settings"
          (onChange)="changeChartType(item, $event.value)"
          class="settings-dropdown">
          
          <ng-template let-graph pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img 
                  [src]="graph.image" 
                  style="width: 18px; height: 18px;" />
              <div>{{ graph.label }}</div>
            </div>
          </ng-template>
        </p-dropdown>
  
        <ng-container *ngIf="item.datasets && item.datasets.length > 0; else emptyChart">
  
          <app-chart
            [datasets]="item.datasets"
            [chartLabels]="item.chartLabels"
            [chartTitle]="item.parameter"
            [chartType]="item.chartType">
          </app-chart>
        </ng-container>
  
        <ng-template #emptyChart>
          <p>No data available. Waiting for updates...</p>
        </ng-template>
      </div>
    </gridster-item>
  </gridster>
  

  
</div> -->
<div class="main">

  <app-preset-parameters (onPresetSelect)="onChoosePreset($event)" *ngIf="!isPresetChoosed"></app-preset-parameters>
  <app-live-dashboard
    [presetDashboard]="presetDashboard"  
    *ngIf="isPresetChoosed">
  </app-live-dashboard> 
 
</div>