.layout {
    display: flex;
    height: 100vh; 
  }
  
  app-sidebar {
    width: 200px;
    flex-shrink: 0;
    background-color: #000000;
  }
  
  .content {
    flex-grow: 1;
    overflow: auto;
    background-color: #000000;
    overflow: hidden;
  }
  