.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  .table {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;

  
    .device-list {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 1.5rem;
     justify-content: space-between;
     margin: 1rem;
     padding: 0;
     list-style-type: none;

     .uavs-list{
      border-radius: 1rem;
     }
    }
  }
}

.device-list li {
  background-color: #382c4e;
  color: white;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.uav-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.uav-header{
  border-bottom: #eeeeee solid 1px;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.uav-name {
  font-weight: bold;
  margin-right: 20px;
  font-size: 1.1rem;
  padding: 1rem;
}

.communications {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;


}

.communication {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background: #4b3c68;
  padding: 1rem;
}

.communication span {
  margin-right: 10px;
  font-size: 1rem;
}

.status-point {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
/* 
@keyframes pulseGreen {
  0% {
    transform: scale(1);
    background-color: green;
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    background-color: #66cc66;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    background-color: green;
    opacity: 1;
  }
} */

/* @keyframes pulseRed {
  0% {
    transform: scale(1);
    background-color: red;
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    background-color: #ff6666;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    background-color: red;
    opacity: 1;
  }
} */

/* Responsive Design */
@media (max-width: 768px) {
  .table {
    padding: 15px;
  }

  .device-list li {
    flex-direction: column;
    align-items: flex-start;
  }

  .status-point {
    margin-top: 5px;
  }
}

@media (max-width: 480px) {
  .table h2 {
    font-size: 1.5rem;
  }

  .device-list li {
    padding: 10px;
  }

  .status-point {
    width: 14px;
    height: 14px;
  }
}

.gridster {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 20px 0; */
}

.title{
  font-size: 2rem;
}

