<div class="table-container">
  <div class="table">
    <h1 class="title">Monitor Status</h1>

    <ul class="device-list">
      <li class="uavs-list" *ngFor="let uav of activeUavs | keyvalue">

        <div class="uav-item">
          <div class="uav-header">
            <span class="uav-name">UAV: {{uav.key}}</span>
          </div>

          <div class="communications">
            <div class="communication">
              <span class="status-point" [ngClass]="getStatus(uav.value[0])"></span>
              <span>FiberBoxDown</span>
            </div>
            <div class="communication">
              <span class="status-point" [ngClass]="getStatus(uav.value[1])"></span>
              <span>FiberBoxUp</span>
            </div>
            <div class="communication">
              <span class="status-point" [ngClass]="getStatus(uav.value[2])"></span>
              <span>MissionDown</span>
            </div>
            <div class="communication">
              <span class="status-point" [ngClass]="getStatus(uav.value[3])"></span>
              <span>MissionUp</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
