<div class="table-container">

  <div class="table">
    <h2>Monitor Status</h2>

    <ul class="device-list">
      <li *ngFor="let uav of activeUavs | keyvalue">
        <span>uav: {{uav.key}}</span>
        <div class="communication">
          <span>FiberBoxDown</span>
          <span class="status-point" [ngClass]="getStatus(uav.value[0])"></span> 
        </div>
        <div class="communication">
          <span>FiberBoxUp</span>
          <span class="status-point" [ngClass]="getStatus(uav.value[1])"></span>
        </div>
        <div class="communication">
          <span>MissionDown</span>
          <span class="status-point" [ngClass]="getStatus(uav.value[2])"></span>
        </div>
        <div class="communication">
          <span>MissionDown</span>
          <span class="status-point" [ngClass]="getStatus(uav.value[3])"></span>
        </div>
      </li>
    </ul>
    
    
  </div>

</div>