.sidebar-container {
  right: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 20vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* .headline {
  } */

  .parameter-selected {
    opacity: 0.4;
    cursor: pointer;
  }

  .parameter-unSelected {
    color: white;
    cursor: pointer;
  }

  .parameter-selected, .parameter-unSelected {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  } 
}