<div class="sidebar-container">
  <mat-icon class="close-sidebar" (click)="closeSideBar()">close</mat-icon>
  <h4 class="headline">Parameters</h4>
  <mat-form-field class="mat-form-class">
    <mat-label>Select Uav</mat-label>
    <mat-select (selectionChange)="onSelectUAV($event)">
      <mat-option *ngFor="let uav of uavsList" [value]="uav">
        {{ uav }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="selectedUAV">
    <mat-label >Select Comn</mat-label>
    <mat-select (selectionChange)="onSelectCommunication($event)">
      <mat-option value="FiberBoxDown">FBXDown</mat-option>
      <mat-option value="FiberBoxUp">FBUp</mat-option>
      <mat-option value="MissionDown">MissionDown</mat-option>
      <mat-option value="MissionUp">MissionUp</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="parameters-selection">
    <div *ngIf="filteredParameters.length === 0">No parameters available.</div> <!-- Debug message -->
    <div class="parameters-class" *ngFor="let parameter of filteredParameters" class="parameter-item" (click)="toggleParameterSelection(parameter)">
      <span [ngClass]="isParameterSelected(parameter)? 'parameter-selected' : 'parameter-unSelected'"> {{ parameter}} </span>
      <!-- <mat-checkbox
        [checked]="isParameterSelected(parameter)"
        (change)="toggleParameterSelection(parameter)"
      >
        {{ parameter }}
      </mat-checkbox> -->
    </div>
  </div>
</div>
