<div class="container">
  <div class="top">
    <div class="top-buttons">
      <button mat-button class="button" (click)="toggleSideBar()">
        Add Parameter
      </button>
      <button mat-button class="button" (click)="MoveParameters()">
        Enable drag and move
      </button>
    </div>
  </div>
  <div class="body">
    <gridster class="gridster" [options]="options">
      <gridster-item
        *ngFor="let item of telemetryGridsterDashboard; trackBy: trackByFn"
        [item]="item"
      >
        <div
          class="widget-content"
          [style.width]="calculateBlockWidth(item)"
          *ngFor="let chartEntity of item.chartEntitys"
        >
          <app-gridster-block (chartDataUpdated)="onChangeChart($event)"
          [chartEntity]="chartEntity"></app-gridster-block>
        </div>
      </gridster-item>
    </gridster>
  </div>
</div>

<app-side-bar-parameters
  (onCloseSideBar)="onCloseSideBar()"
  (onAddParameter)="onAddParameter($event)"
  (onRemoveParameter)="onRemoveParameter($event)"
  [uavsList]="uavsList"
  [parametersMap]="parametersMap"
  [selectedParametersMap]="selectedParametersMap"
  *ngIf="isSideBarOpen"
></app-side-bar-parameters>
