.container {
  height: 100%;
  width: 100%;

  .top {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: flex-end;

    .top-buttons {
      width: fit-content;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-right: 1.5rem;

      .button {
        background-color: white;
      }
    }
  }

  .body {
    height: 90%;
    width: 100%;

    .gridster {
      background: #131417;
    }
  }
}

app-side-bar-parameters {
  z-index: 1;
  right: 0;
  top: 0;
  position: fixed;
}

.widget-content{
  position: relative;
  height: 100%;
  overflow: hidden;
}
app-gridster-block {
  height: 100%;  
  width: 100%;   
  overflow: hidden;
}
.gridster-item {
  position: relative; 
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Ensure Highcharts container fills its parent */
.highcharts-container {
  width: 100%!important;
  height: 100%!important;
}

/* Gauge specific adjustments */
.highcharts-gauge-series .highcharts-data-labels {
  font-size: 1.2em!important;
}

.highcharts-pane {
  stroke: #CCC;
  stroke-width: 1px;
}