<div class="container">
  <div class="top">
    <div class="top-buttons">
      <button (click)="showSuccess()"></button>
      <button mat-button class="button" (click)="toggleSideBar()">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="25" height="25" viewBox="0 0 32 32" version="1.1">
    
          <title>plus-circle</title>
          <desc>Created with Sketch Beta.</desc>
          <defs>
      
      </defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="Icon-Set" sketch:type="MSLayerGroup" transform="translate(-464.000000, -1087.000000)" fill="#000000">
                  <path d="M480,1117 C472.268,1117 466,1110.73 466,1103 C466,1095.27 472.268,1089 480,1089 C487.732,1089 494,1095.27 494,1103 C494,1110.73 487.732,1117 480,1117 L480,1117 Z M480,1087 C471.163,1087 464,1094.16 464,1103 C464,1111.84 471.163,1119 480,1119 C488.837,1119 496,1111.84 496,1103 C496,1094.16 488.837,1087 480,1087 L480,1087 Z M486,1102 L481,1102 L481,1097 C481,1096.45 480.553,1096 480,1096 C479.447,1096 479,1096.45 479,1097 L479,1102 L474,1102 C473.447,1102 473,1102.45 473,1103 C473,1103.55 473.447,1104 474,1104 L479,1104 L479,1109 C479,1109.55 479.447,1110 480,1110 C480.553,1110 481,1109.55 481,1109 L481,1104 L486,1104 C486.553,1104 487,1103.55 487,1103 C487,1102.45 486.553,1102 486,1102 L486,1102 Z" id="plus-circle" sketch:type="MSShapeGroup">
      
      </path>
              </g>
          </g>
      </svg>      </button>
      <button mat-button class="button" (click)="savePreset()">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16" fill="#000000"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.04 1.33L12.71 3l.29.71v.33h-.5l-.5.5v-.83l-1.67-1.67H10v4H4v-4H2v10h3l-.5 1H2l-1-1v-10l1-1h8.33l.71.29zM7 5h2V2H7v3zm6.5 0L15 6.5l-.02.69-5.5 5.5-.13.12-.37.37-.1.09-3 1.5-.67-.67 1.5-3 .09-.1.37-.37.12-.13 5.5-5.5h.71zm-6.22 7.24l-.52 1 1.04-.48-.52-.52zm.69-1.03l.79.79 5.15-5.15-.79-.79-5.15 5.15z"/></svg>
      </button>
      
    </div>
  </div>
  <div class="body">
    <gridster class="gridster" [options]="options">
      <gridster-item class="gridster-item" *ngFor="let item of telemetryGridsterDashboard; trackBy: trackByFn" [item]="item">
    

        <div class="gridster-item-header">
          <span class="paramter-name">{{item.parameterName}}</span>
          <button class="merge-split-buttton" (click)="archiveGraphs(item)">{{item.isArchive ? 'Live' : 'Archive'}}</button>
          <button class="merge-split-buttton" (click)="concatGraphs(item)" *ngIf="item.chartEntitys[0].parameter.units!=='Value'" >{{item.isConcatenated ? 'Split' : 'Merge'}}</button>
        </div>

        <div class="chart-container">
          <div *ngIf="!item.isConcatenated && !item.isArchive" class="single-charts">
            <div class="widget-content" *ngFor="let chartEntity of item.chartEntitys">
              <app-gridster-block 
                (chartDataUpdated)="onChangeChart($event)"
                (timeShiftUpdate)="onTimeShiftRequest($event)"
                [chartEntity]="chartEntity">
              </app-gridster-block>
            </div>
          </div>
          
          <div *ngIf="item.isConcatenated" class="concat-chart">
            <app-concat-graph [chartEntities]="item.chartEntitys"></app-concat-graph>
          </div>

          <!-- <div *ngIf="item.isArchive" class="archive-chart">
            <app-graph-archive
              [chartEntities]="item.chartEntitys"
            ></app-graph-archive>
          </div> -->

          <!-- <div *ngIf="item.isArchive && !item.isConcatenated" class="archive-chart">
            <div class="widget-content" *ngFor="let chartEntity of item.chartEntitys">
              <app-graph-archive
                [chartEntities]="item.chartEntitys"
              ></app-graph-archive>
            </div>
          </div> -->

        </div>
      </gridster-item>
    </gridster>
  </div>
</div>

<app-side-bar-parameters
  (onCloseSideBar)="onCloseSideBar()"
  (onAddParameter)="onAddParameter($event)"
  (onRemoveParameter)="onRemoveParameter($event)"
  [uavsList]="uavsList"
  [parametersMap]="parametersMap"
  [selectedParametersMap]="selectedParametersMap"
  [presetParameters] = "presetParameters"
  *ngIf="isSideBarOpen"
></app-side-bar-parameters>
