<div class="container">
  <div class="top">
    <div class="top-buttons">
      <button mat-button class="button" (click)="toggleSideBar()">
        Add Parameter
      </button>
      <button mat-button class="button" (click)="MoveParameters()">
        Enable drag and move
      </button>
    </div>
  </div>
  <div class="body">
    <gridster class="gridster" [options]="options">
      <gridster-item *ngFor="let item of telemetryGridsterDashboard; trackBy: trackByFn" [item]="item">
      
        <button mat-icon-button ="button" (click)="concatGraphs(item)" >{{item.isConcatenated ? 'Separate' : 'Concat'}}</button>
        <mat-icon>link</mat-icon>

        <div class="chart-container">
          <div *ngIf="!item.isConcatenated" class="single-charts">
            <div class="widget-content" *ngFor="let chartEntity of item.chartEntitys">
              <app-gridster-block 
                (chartDataUpdated)="onChangeChart($event)" 
                [chartEntity]="chartEntity">
              </app-gridster-block>
            </div>
          </div>
          
          <div *ngIf="item.isConcatenated" class="concat-chart">
            <app-concat-graph [chartEntities]="item.chartEntitys"></app-concat-graph>
          </div>
        </div>
      </gridster-item>
    </gridster>
  </div>
</div>

<app-side-bar-parameters
  (onCloseSideBar)="onCloseSideBar()"
  (onAddParameter)="onAddParameter($event)"
  (onRemoveParameter)="onRemoveParameter($event)"
  [uavsList]="uavsList"
  [parametersMap]="parametersMap"
  [selectedParametersMap]="selectedParametersMap"
  *ngIf="isSideBarOpen"
></app-side-bar-parameters>
