.container {
  height: 100%;
  width: 100%;

  .top {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: flex-end;

    .top-buttons {
      width: fit-content;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center; 
      margin-right: 1.5rem;

      .button {
        background-color: white;
        border: none; 
        padding: 0.5rem; 
        cursor: pointer;
        margin: 0.2rem;
      }
    }
  }
 
  .chart-container {
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 90%;
    /* padding: 10px; */
    box-sizing: border-box;

    .single-charts {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(clamp(4rem, 6vw, 4rem), 1fr));
      grid-auto-rows: minmax(8rem, auto);
      gap: 5px;
      height: 100%;
    
      min-width: 0;
      min-height: 0;
      overflow: hidden;

   
    }
    
    .single-charts > * {
      min-width: 0;
      min-height: 0;
    }
    .concat-chart {
      height: calc(100%-40px);
      width: 100%;
    }
  }
  .body {
    height: 90%;
    width: 100%;

    .gridster {
      height: 100% !important;
      background: #261e35;

      .concat-button {
        color: rgb(255, 255, 255);
        height: 0;
        background-color: #261e35;
        z-index: 10;
      }
    }
  }
}

app-side-bar-parameters {
  background-color: #40394e;
  z-index: 1;
  right: 0;
  top: 0;
  position: fixed;
}

.widget-content {
  position: relative;
  height: 100%;
  overflow: hidden;
}
app-gridster-block {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gridster-item {
  margin: 0.3rem;
  contain: size layout style;
  overflow: hidden !important; 
  /* position: relative;  */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  border-radius: 2rem;
  background: #40394e;
  border: solid 1px #817d8b;
  padding: 0.5rem 1rem 1rem 1rem;

  .gridster-item-header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .paramter-name {
      color: #cdb2f2;
      font-size: large;
    }

    .merge-split-buttton {
      padding: 5px 10px;
      background-color: #b97cf3;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

:host ::ng-deep gridster-item {
  display: flex !important;
  flex-direction: column;
  
}
