.container {
  height: 100%;
  width: 100%;

  .top {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: flex-end;

    .top-buttons {
      width: fit-content;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-right: 1.5rem;

      .button {
        background-color: white;
      }
    }
  }

  .chart-container{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    .single-charts{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
      gap: 10px;
      height: 100%;
    }
    .concat-chart{
      height: calc(100%-40px);
      width: 100%;
    }
  }
  .body {
    height: 90%;
    width: 100%;

    .gridster {
      background: #131417;
    }
  }
}

app-side-bar-parameters {
  z-index: 1;
  right: 0;
  top: 0;
  position: fixed;
}

.widget-content{
  position: relative;
  height: 100%;
  overflow: hidden;
}
app-gridster-block {
  height: 100%;  
  width: 100%;   
  overflow: hidden;
}
.gridster-item {
  position: relative; 
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:host ::ng-deep gridster-item {
  display: flex !important;
}
