<div class="chart-case chart-container" [ngSwitch]="chartEntity.chartType">

  <div class="settings-container">
    <button mat-icon-button [matMenuTriggerFor]="chartMenu" class="settings-button">
      <mat-icon>settings</mat-icon>
    </button>
    
    <mat-menu #chartMenu="matMenu">
      <button mat-menu-item *ngFor="let option of graphOptions" (click)="changeChartType(option.label)">
        <img [src]="option.image" class="chart-icon" alt="{{option.label}}">
        <span>{{ option.label }}</span>
      </button>
    </mat-menu>
  </div>
  
  <div *ngSwitchCase="getTypes().GAUGE" class="chart-container gauge-case">
    <app-gauge-chart [chartEntity]="chartEntity"></app-gauge-chart>
  </div>
  <div *ngSwitchCase="getTypes().GRAPH" class="chart-container graph-case">
    <app-graph-chart class="chart-container" [chartEntity]="chartEntity"></app-graph-chart>
  </div>
  <div *ngSwitchCase="getTypes().PIE" class="chart-container pie-case">
    <app-pie-chart class="chart-container" [chartEntity]="chartEntity" ></app-pie-chart>
  </div>
  <div *ngSwitchCase="getTypes().LABEL" class="chart-container label-case">
    <app-live-label class="chart-container" [chartEntity]="chartEntity" ></app-live-label>
  </div>
  <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Settings" >
    <mat-icon>settings</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let graph of graphOptions" (click)="changeChartType(graph.label)" >
      <img [src]="graph.image" style="width: 18px; height: 18px" />
      <span>{{ graph.label }}</span>
    </button>
  </mat-menu>

  <h3>{{ item.parameter }}</h3>
  <p>Communication: {{ item.communication }}</p>
  <div class="chart-container">
    <div [id]="chartId"></div>
  </div> -->
</div>