<div class="chart-container pie-chart">
  <div class="uav-name-container">
    <div class="settings-container">
      <button mat-icon-button [matMenuTriggerFor]="chartMenu" class="settings-button">
        <mat-icon class="icon-button">bar_chart</mat-icon>
      </button>
      
      <mat-menu #chartMenu="matMenu">
        <button mat-menu-item *ngFor="let option of graphOptions" (click)="changeChartType(option.label)">
          <img [src]="option.image" class="chart-icon" alt="{{option.label}}">
          <span>{{ option.label }}</span>
        </button>
      </mat-menu>
    </div>
    <!-- <span class="uav-name">Uav Number {{chartEntity.parameter.uavNumber}}</span> -->
  </div>
  <mat-slide-toggle class="style-slider" (click)="onChangeSlider()"></mat-slide-toggle>
  <ngx-charts-pie-chart [results]="pieRecords" [legend]="pieConfig().isLegend" [labels]="pieConfig().isLabels"
   [doughnut]="isSliderCheck" [legendTitle]="formatValue()">
    <ng-template #tooltipTemplate let-model ="model">
      Value:{{model.Name}}
      <br>
      Count:{{model.value}}
    </ng-template>
  </ngx-charts-pie-chart>
</div>