

 <div class="gauge-container">
  <div class="uav-name-container">
    <div class="settings-container">
      <button mat-icon-button [matMenuTriggerFor]="chartMenu" class="settings-button">
        <mat-icon class="icon-button">bar_chart</mat-icon>
      </button>
      
      <mat-menu #chartMenu="matMenu">
        <button mat-menu-item *ngFor="let option of graphOptions" (click)="changeChartType(option.label)">
          <img [src]="option.image" class="chart-icon" alt="{{option.label}}">
          <span>{{ option.label }}</span>
        </button>
      </mat-menu>
    </div>
    <!-- <span class="uav-name">Uav Number {{chartEntity.parameter.uavNumber}}</span> -->
  </div>
  <ngx-gauge
  id="{{chartEntity.id}}"
  class="gauge-size"
  [min]="chartEntity.parameter.InterfaceLimitMin"
  [max]="chartEntity.parameter.InterfaceLimitMax"
  [unit]="chartEntity.parameter.units"
  [duration]="gaugeConfig().duration"
  [type]="gaugeConfig().type"
  [foregroundColor]="gaugeConfig().foregroundColor"
  [backgroundColor]="gaugeConfig().backgroundColor"
  [value]="gaugeValue"
  [size]="size"
  [ngClass]="getGaugeValueClass(gaugeValue)"
></ngx-gauge>
 </div>

<!-- [cap]="gaugeConfig().cap" -->

<!-- [thresholds]="chartEntity.thresholds" -->
<!-- [label]="chartEntity.parameter" -->
<!-- [smallSegments]="5" -->
<!-- [bigSegments]="10" -->
