
 <div class="gauge-container">
  <ngx-gauge
  id="{{chartEntity.id}}"
  class="gauge-size"
  [min]="chartEntity.parameter.InterfaceLimitMin"
  [max]="chartEntity.parameter.InterfaceLimitMax"
  [unit]="chartEntity.parameter.units"
  [duration]="gaugeConfig().duration"
  [type]="gaugeConfig().type"
  [foregroundColor]="gaugeConfig().foregroundColor"
  [backgroundColor]="gaugeConfig().backgroundColor"
  [value]="gaugeValue"
  [size]="size"
  [ngClass]="getGaugeValueClass(gaugeValue)"
></ngx-gauge>
 </div>

<!-- [cap]="gaugeConfig().cap" -->

<!-- [thresholds]="chartEntity.thresholds" -->
<!-- [label]="chartEntity.parameter" -->
<!-- [smallSegments]="5" -->
<!-- [bigSegments]="10" -->
